body {
	max-width: 1200px;
	margin: 0 auto;
}


/* Toolbars */

.bar-content-edit {
	background: #f1f3f1;
}

.bar-content-edit p {
	margin: 0;
	padding: 0;
	text-align: right;
}

.bar-content-edit a {
	text-decoration: none;
}
	
#bar-page-edit {
	/* commonly used */
	position: fixed;
	top: 0; 
	right: 0;
	width: auto;
	/* customized on a per-portal basis */
	background-color: #ffffff;
	border: 3px double #0f4780; 
}

#bar-page-edit p {
	/* commonly used */
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	/* customized on a per-portal basis */
	margin-left: 1em;
	margin-right: 1em;
}

#bar-page-edit a {
	text-decoration: none;
	border-bottom: none;
	margin: 0 1em;
}

#bar-page-edit a img {
	margin: 0;
	padding: 0;
	border: none;
}

/* /Toolbar */

#header, #subheader, #topmain, #main, #footer {
	float: left;
	width: 100%;
}

#header {
	min-height: 131px;
	background-color: #e5ecfa;
	background-image: url("../../img/header1.jpg");
	background-position: top right;
	background-repeat: no-repeat;
}

#header h1 {
	width: 25%;
	margin: 0 0 0 0.5em;
	text-align: left;
	color: #0f4780;
}

#header p {
	width: 25%;
	margin-left: 1.2em;
	text-align: left;
}

#subheader, #footer {
	background-color: #e5ecfa;
	border-top: 2px solid #0f4780;
	border-bottom: 2px solid #0f4780;	
	padding: 0.1em 0;
}

#subheader p, #footer p, #footer a {
	color: #0f4780;
	/*color: #ffffff;*/
}

#subheader1 {
	float: left;
	width: 50%;
}

#subheader2 {
	margin-left: 70%;
}

#topmain {
	border-top: 1px solid #333333;
	border-bottom: 1px dashed #333333;
}

#main {
	background-image: url("../../img/background.png");
	background-position: 80% 100%;
	background-repeat: repeat-y;	
	border-bottom: 1px solid #333333;
}

#colonna1 {
	float: left;
	width: 20%;
	margin-right: 1%;
}

#colonna2 {
	float: left;
	width: 58%;	
}

#box_basso_sn {
	width: 48%;
	float: left;
}

#box_basso_dx {
	margin-left: 50%;
}

#colonna3 {
	background-color: #e5ecfa;
	margin-left: 80%;
	color: #0f4780;
	/*padding: 0 0.2em;*/
}

#colonna3 a {
	color: #0f4780;
}

#colonna3 h2.title {
	background-color: #ffffff;
}

#footer {
	clear: both;
	text-align: center;
}

#ie6disclaimer {
	clear: both;
	width: 100%;
	text-align: center;
	margin: 4em;
	padding: 2em 1em;
	border: 8px solid red;
	background-color: #000000;
	color: #ffffff;
}

#ie6disclaimer a {
	color: blue;
}