body {
	font-size: 100.01%;
	font-family: Verdana, Arial, sans-serif;
	margin: 0;
	padding: 1px;
}

p, li, h4, h5, h6, dl {
	font-size: 0.8em;
}

h2, h3 {
	font-size: 0.9em;
}

li li, li p, li h3 {
	font-size: 1em;
}

p, h1, h2, h3, h4 {
	margin: 5px 0;
}

ul, ol {
	margin: 10px 0;
	padding: 0;
}

ul li, ol li {
	margin: 10px 5px;
	padding: 0;
	list-style-type: none;
}

hr, .noscreen {
	position: absolute;
	top: -1000em;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

a img {
	border: none;
}

h1 {
	font-size: 1.1em;
	width: 70%;
	margin: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #e5ecfa;
	color: #0f4780;
}

.left {
	float: left;
}

img.left {
	margin: 0 5px 5px 0;
}

.clear {
	clear: both;
}

p.paginazione {
	text-align: center;
}

input.text {
	border: 1px solid #333333;
	width: 7em;
}

input.button {
	border: 1px solid #333333;
	/*background-color: #ff9a00;
	color: #333333;*/
	background-color: #0f4780;
	color: #ffffff;
}

a:link, a:visited {
	color: #333333;
	font-weight: bold;
	text-decoration: underline;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

.centerText {
	text-align: center;
}

.rightText {
	text-align: right;
}