body {
    font-family: 'Droid Sans', 'Verdana', 'Arial', sans-serif;
}

h1 {
    font-family: 'Droid Serif', 'Arial', serif;
}

h1, h2 {
    font-weight: 400;
}

.hero-unit
    h1 {
        font-family: 'Lobster Two', 'Verdana', 'Arial', sans-serif;
    }

@media (min-width: 980px) {

	body {
		padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	}

}