.api-info dd {
	font-weight: bold;
}

#api_method_GET,
#api_method_POST,
#api_method_PUT,
#api_method_DELETE {
	margin-top: 3em;
	background-color: #E5ECFA;
	border-bottom: 2px solid #0F4780;
	color: #144873;
}

.api-back {
	margin: 2em 0;
}