.card_list fieldset {
	margin: 0.5em;
	padding: 0.2em;
	/*background-color: #e5ecfa;*/
}

.card_list legend {
	background-color: #ffffff;
	color: #0f4780;
}

.card_list label {
	margin: 0;
	padding-left: 30px;
	min-height: 2em;
	line-height: 2em;
	color: #144873;
	font-weight: bold;
	/*background-color: #e5ecfa;*/
	background-image: url("../../img/bullet-title.png");
	background-position: 2% 50%;
	background-repeat: no-repeat;
}

.card_list p {
	margin: 0 0.5em 0 0;
	padding: 0;
}