.language_choose {
	float: left;
	width: 100%;
}

.language_choose ul {
	margin: 0;
	padding: 0;
}

.language_choose ul li {
	float: left;
	margin: 0 5px;
	border-right: 1px solid #0f4780;
	color: #0f4780;
	text-transform: uppercase;
	padding: 0 0.5em 0 0;
}

.language_choose ul li a:link, .language_choose ul li a:visited {
	color: #0f4780;
	text-decoration: none;
}

.language_choose ul li a:hover, .language_choose ul li a:active, .language_choose ul li a:focus {
	text-decoration: underline;
}