html,body {
	padding: 0;
	margin: 0;
}

body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 100.01%;
	color: #333333;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

h2, h3, h4, h5, h6 {
	font-size: 0.9em;
	font-weight: bold;
	margin: 0.5em 0 0 0;
	padding: 0;
}

p, li {
	font-size: 0.85em;
}

li li, li p, li h3 {
	font-size: 1em;
}

p {
	margin: 0;
	padding: 0.5em 0;
}

ul {
	list-style-type: square;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

li {
	margin-top: 0.5em;
}

form {
	margin: 0;
	padding: 0;
}

form label {
	font-weight: bold;
}

form legend {
	font-size: 0.9em;
	font-weight: bold;
}

input.text {
	border: 1px solid #333333;
	width: 7em;
}

input.button {
	border: 1px solid #333333;
	/*background-color: #ff9a00;
	color: #333333;*/
	background-color: #0f4780;
	color: #ffffff;
}

select {
	border: 1px solid #333333;
	background-color: #ffffff;
}

a:link, a:visited {
	color: #333333;
	font-weight: bold;
	text-decoration: underline;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

h2.title {
	border-bottom: 2px solid #0f4780;
	padding-left: 25px;
	margin: 0;
	min-height: 2.5em;
	line-height: 2.5em;
	color: #144873;
	font-weight: bold;
	background-color: #e5ecfa;
	background-image: url("../img/bullet-title.png");
	background-position: 1% 50%;
	background-repeat: no-repeat;
	font-size: 0.85em;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

a img {
	border: none;
}

img.left {
	margin: 0 0.5em 0.5em 0;
}

img.right {
	margin: 0 0 0.5em 0.5em;
}

.noscreen {
	position: absolute;
	top: -1000em;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

caption, table td, table th {
	font-size: 0.9em;
}

table {
	margin: 0.5em auto;
	border: 1px solid #404040;
	color: #404040;
}

table th {
	margin: 0.5em;
	padding: 0 0.2em;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #404040;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #404040;
	background-color: #e5ecfa;
	color: #404040;
}

table td {
	margin: 0.5em;
	padding: 0 0.2em;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #404040;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #404040;
}

table caption {
	margin: 1em auto 0 auto;
	font-weight: bold;
}

.centerText {
	text-align: center;
}

.rightText {
	text-align: right;
}

.bolded {
	font-weight: bold;
}

p.paginazione {
	text-align: center;
}

div.search_box {
	padding: 0.5em;
	border-top: 2px solid #ffffff;
	background-color: #f1f3f1;
}

form.plugins input.text {
	width: 15em;
}